*.class

# Maven #
/release.properties
/pom.xml.releaseBackup

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# Intellij #
/.idea
/*.iml
/*.iws
/*.ipr